ion-content {
    --background: #1a1a1a;
  }
  
  ion-list-header {
    font-weight: bold;
  }
  
  ion-card-title {
    color: #ffcc00;
  }
  
  ion-item {
    --background: #2e2e2e;
    color: #e0e0e0;
    --border-color: #444;
    margin: 10px 0;
  }
  
  ion-button {
    margin-top: 20px;
  }
  