<ion-header>
  <ion-toolbar class="ion-padding morado">
    <h1>RegistrAPP</h1>
    <h3>          ¡Bienvenido {{ userName }}!</h3>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon name="person-circle-outline"></ion-icon>
        <span *ngIf="!userName">Iniciar Sesión</span>
        <span *ngIf="userName">Perfil</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="ion-margin-top" src="assets/images/home3.svg"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Mis Asignaturas:</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let subject of subjects">
                <ion-label>
                  <h2>{{ subject.title }}</h2>
                  <p *ngIf="subject.registered">
                    Asistencia registrada: {{ subject.registered | date: 'shortTime' }}
                  </p>
                </ion-label>
                <ion-button slot="end" [disabled]="subject.registered">
                  Asistencia Registrada
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <!-- Tarjeta de Clima -->
        <ion-card *ngIf="weatherData">
          <ion-card-header>
            <ion-card-title>Clima en {{ weatherData.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="weather-info">
              <img
                [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'"
                alt="Icono del clima"
                class="weather-icon"
              />
              <div>
                <h2>{{ weatherData.main.temp }}°C</h2>
                <p>{{ weatherData.weather[0].description | titlecase }}</p>
                <p>Humedad: {{ weatherData.main.humidity }}%</p>
                <p>Viento: {{ weatherData.wind.speed }} m/s</p>
              </div>
            </div>
          </ion-card-content>
        </ion-card>

        <!-- Botón para escanear el código QR -->
        <ion-button class="morado" expand="full" (click)="scan()">Escanear Código QR</ion-button>

        <!-- Mostrar el resultado del escaneo -->
        <p *ngIf="result">Resultado del escaneo: {{ result }}</p>

        <ion-button class="morado" expand="full" (click)="handleLogout()">Cerrar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar style="height: 70px;">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" size="small" [routerLink]="['/politica']">
            <ion-icon name="document"></ion-icon>
            <ion-label style="color: #f7f9f9;">Política</ion-label>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" size="small" [routerLink]="['/settings']">
            <ion-icon name="settings"></ion-icon>
            <ion-label style="color: #f8f5f5;">Configuraciones</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
